 /* Style the buttons that are used to open and close the accordion panel */
button.accordion {
    background-color: #E8E5E1;    
    font-size: large;
    font-family: 'Source Sans Pro', 'Segoe UI', Tahoma, Calibri, Geneva, Verdana, sans-serif;
    color: #464646;
    cursor: pointer;
    padding: 0.5ex;    
    width: 100%;    
    text-align: left;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: 0.4s;  
    margin-top: 4pt;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover {
    background-color: #0099FF;        
    color: white;    
}

/* Style the accordion panel. Note: hidden by default */
div.panel {
    padding: 0 18px;
    background-color: #F8F5F1;
    border: solid;
    border-width: 1px;
    border-radius: 5px;
    display: none;
}

div.accordion-title{
    background-color: transparent;
    background-image: url("expand.png");
    background-origin: padding-box;
    background-size: 2.5ex;
    background-position: center left;    
    background-repeat: no-repeat;  
    padding: 0 0 0 3ex;
    float: left;        
}

button.accordion.active > div.accordion-title{
    background-image: url("collapse.png");
}

div .no-js {
    display: block;
}